@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  font-size: 22px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background: #fff;
  color: #333;
  line-height: 1.6;
  letter-spacing: 0.25px;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.4px;
  font-weight: 300;
  line-height: 1.2;
}

h1 {
  letter-spacing: 0.8px;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 15px;
}

h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 28px;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  color: #fff;
  opacity: 0.8;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
  padding: 0 30px;
  transition: 0.5s;
}

.navbar.top {
  background: transparent;
}

.navbar a {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.4px;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  padding: 10px 20px;
  margin: 0 5px;
}

.navbar ul {
  display: flex;
}

.navbar a:hover {
  border-bottom: #28a745 2px solid;
}

.navbar .logo {
  font-weight: 400;
  letter-spacing: 0.4px;
}

/* Header */
.hero {
  /* background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0, 0.6)), url('../images/home/showcase.jpg') no-repeat center center/cover; */
  background: url('../images/home/showcase.jpg') no-repeat center center/cover;
  height: 100vh;
  position: relative;
  color: white;
}

.hero .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0 20px;
}

.hero .content h1 {
  font-size: 45px;
  font-weight: 400;
  color: #f8dfd9;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.hero .content p {
  font-size: 25px;
  max-width: 600px;
  margin: 15px 0 32px;
  letter-spacing: 1px;
  font-weight: 300;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

/* Anything that is inside the .hero class */
.hero * {
  z-index: 10;
}

.hero.blog {
  background: url('../images/home/blog.jpg') no-repeat center center/cover;
  height: 30vh;
}

/* Icons */
.icons {
  padding: 30px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.4px;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 15px;
}

.icons p {
  width: 450px;
}

.icons i {
  background-color: #e4491c;
  color: #fff;
  padding: 1.25rem;
  border-radius: 50%;
  margin-bottom: 15px;
}
.cases img {
  background-position: center;
  background-size: cover;
}
.cases img:hover {
  opacity: 0.8;
}

/* Bookmarks */
h4 .bookmarks {
  font-size: 15px;
}

/* Team */
.team .flex-items p {
  font-size: 22px;
}

.team .flex-items h5 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.divider {
  height: 2px;
  background-color: #e4491c;
  width: 40px;
  display: block;
  margin: 0 auto;
}

/* Callback Form */
.callback-form {
  width: 100%;
  padding: 20px 0;
}

.callback-form label {
  display: block;
  margin-bottom: 5px;
}

.callback-form .form-control {
  margin-bottom: 15px;
}

.callback-form input {
  width: 100%;
  padding: 4px;
  height: 50px;
  border: #f5f5f5 1px solid;
  font-size: 20px;
}

.callback-form input:focus {
  outline-color: #28a745;
}

.callback-form .btn {
  padding: 12px 0;
  margin-top: 20px;
  height: 50px;
}

/* Post */
.post {
  padding: 50px 40px;
}

.post h2 {
  font-size: 40px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: #ccc solid 1px;
}

.post .meta {
  margin-bottom: 30px;
}

.post img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin: 0 auto 30px;
}

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 200px;
}

.footer a {
  color: #fff;
}

.footer p {
  margin-top: 20px;
  font-size: 16px;
}

.footer a:hover {
  color: #e3e3e3;
}

.footer .social > * {
  margin: 20px;
}

/* Mobile */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: 120px;
    padding: 20px;
  }

  .navbar a {
    padding: 10px;
    margin: 0 3px;
  }

  .flex-items {
    flex-direction: column;
  }

  .flex-columns .column,
  .flex-grid .column {
    flex: 100%;
    max-width: 100%;
  }

  .team img {
    width: 40vh;
    height: 40vh;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .team .flex-items .mgmt p {
    margin-bottom: 40px;
  }
}

.flex-columns .meta {
  margin-bottom: 0;
}
