/* Text colors */

.text-primary {
  color: #e4491c;
}

.text-secondary {
  color: #014966;
}

.py-small {
  padding: 5px 0;
}

.py-1 {
  padding: 10px 0;
}

.py-2 {
  padding: 20px 0;
}

.py-3 {
  padding: 30px 0;
}

/* Basic button styling (for dark background)*/

.btn-main {
  display: inline-block;
  position: relative;
  border: 0.15px #fff solid;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.02);
}

.btn-span {
  display: block;
  padding: 13px 35px;
}

.btn-main::before,
.btn-main::after {
  content: '';
  width: 0;
  height: 0.5px;
  position: absolute;
  transition: all 0.2s linear;
  background: #fff;
}

.btn-span::before,
.btn-span::after {
  content: '';
  width: 0.5px;
  height: 0;
  position: absolute;
  transition: all 0.2s linear;
  background: #fff;
}

.btn-main:hover::before,
.btn-main:hover::after {
  width: 100%;
}

.btn-main:hover .btn-span::before,
.btn-main:hover .btn-span::after {
  height: 100%;
}

/* --- Core animation-------*/

.btn-main::before,
.btn-main::after {
  transition-delay: 0s;
}

.btn-main .btn-span::before,
.btn-main .btn-span::after {
  transition-delay: 0.2s;
}

.btn-main::before {
  right: 0;
  top: 0;
}

.btn-main::after {
  left: 0;
  bottom: 0;
}
.btn-main .btn-span::before {
  left: 0;
  top: 0;
}

.btn-main .btn-span::after {
  right: 0;
  bottom: 0;
}

.btn-main:hover::before,
.btn-main:hover::after {
  transition-delay: 0.2s;
}

.btn-main:hover .btn-span::before,
.btn-main:hover .btn-span::after {
  transition-delay: 0s;
}

/* Basic button styling (for light background)*/

.btn-main-dark {
  display: inline-block;
  position: relative;
  border: 0.15px #333 solid;
  color: #333;
  font-size: 22px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.02);
}

.btn-span {
  display: block;
  padding: 13px 35px;
}

.btn-main-dark::before,
.btn-main-dark::after {
  content: '';
  width: 0;
  height: 0.5px;
  position: absolute;
  transition: all 0.2s linear;
  background: #333;
}

.btn-span::before,
.btn-span::after {
  content: '';
  width: 0.5px;
  height: 0;
  position: absolute;
  transition: all 0.2s linear;
  background: #333;
}

.btn-main-dark:hover::before,
.btn-main-dark:hover::after {
  width: 100%;
}

.btn-main-dark:hover .btn-span::before,
.btn-main-dark:hover .btn-span::after {
  height: 100%;
}

/* --- Core animation-------*/

.btn-main-dark::before,
.btn-main-dark::after {
  transition-delay: 0s;
}

.btn-main-dark .btn-span::before,
.btn-main-dark .btn-span::after {
  transition-delay: 0.2s;
}

.btn-main-dark::before {
  right: 0;
  top: 0;
}

.btn-main-dark::after {
  left: 0;
  bottom: 0;
}
.btn-main-dark .btn-span::before {
  left: 0;
  top: 0;
}

.btn-main-dark .btn-span::after {
  right: 0;
  bottom: 0;
}

.btn-main-dark:hover::before,
.btn-main-dark:hover::after {
  transition-delay: 0.2s;
}

.btn-main-dark:hover .btn-span::before,
.btn-main-dark:hover .btn-span::after {
  transition-delay: 0s;
}

.btn-submit {
  width: 100%;
  margin-top: 10px;
  cursor: pointer;
  display: inline-block;
  padding: 14px 25px;
  background: #003246;
  color: #fff;
  border: none;
  font-weight: 300;
  transition: all 0.25s ease-in-out;
}

.btn-submit:hover {
  background: #014966;
  color: #fff;
}

.bg-secondary {
  background: #003246;
  color: #fff;
}

.bg-dark {
  background: #333;
  color: #fff;
}

.btn-light,
.bg-light {
  background: #f5f5f5;
  color: #333;
}

.btn-outline {
  background: transparent;
  border: 1px solid #fff;
}

/* Container main */
.container {
  max-width: 1280px;
  padding: 0 1.5rem;
  margin: 90px auto;
  overflow: hidden;
}

/* Container post */
.container-post {
  max-width: 1280px;
  padding: 4rem 5rem;
  margin: 90px auto;
  overflow: hidden;
  box-shadow: 0.5px 0.5px 1px rgb(196, 196, 196);
}

.container-post p {
  text-align: justify;
}

.container-icon {
  width: 100%;
  padding: 0 1.5rem;
  margin: 10px auto;
}

/* Flex items */
.flex-items {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.flex-items > div {
  padding: 20px;
}

/* Flex columns */
.flex-columns.flex-reverse .row {
  flex-direction: row-reverse;
}

.flex-columns .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.flex-columns .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.flex-columns .column .column-1,
.flex-columns .column .column-2 {
  height: 100%;
}

.flex-columns img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flex-columns .column-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 4rem;
}

.flex-columns h2 {
  font-size: 40px;
  font-weight: 100;
}

.flex-columns h4 {
  margin-bottom: 10px;
}

.flex-columns p {
  margin: 20px 0 28px 0;
}

/* Section header */
.section-header {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section-header h2 {
  font-size: 40px;
  margin: 10px 0;
}

.section-padding {
  padding: 20px 20px 40px;
}

/* Flex Grid */
.flex-grid .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.flex-grid .column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.team img {
  width: 40vh;
  height: 40vh;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  margin: 0 25px;
  transition: transform 0.6s ease-out;
}

.team img:hover {
  transform: scaleX(1.05) scaleY(1.05);
}

.team .flex-items .mgmt h4 {
  margin-top: 25px;
}

.flex-items .mgmt {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/* Mobile */
@media (max-width: 768px) {
  .btn-main,
  .btn-main-dark {
    font-size: 18px;
  }

  .btn-span {
    padding: 11px 26px;
  }

  .flex-columns .column-2 {
    padding: 3rem;
  }

  .container-post {
    padding: 0.5rem 1rem;
    margin: 20px auto;
  }
}
